.mdc-tabs {
    background: #fff;
    border: 1px solid #ebebeb;
    margin: 16px 0;
}

.mdc-tabs > .mdc-tab-bar {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    height: 48px;
    white-space: nowrap;
}

.mdc-tabs > .mdc-tab-bar > li {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    height: 47px;
    max-width: 200px;
    margin: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}

.mdc-tabs > .mdc-tab-bar > li.active {
    border-bottom-color: #536dfe;
}

.mdc-tabs > .mdc-tab-bar > li > a {
    color: #757575;
    font: 500 14px/43px sans-serif;
    cursor: pointer;
    display: block;
    padding: 0 24px;
}

.mdc-tabs > .mdc-tab-bar > li > a:hover,
.mdc-tabs > .mdc-tab-bar > li > a:focus,
.mdc-tabs > .mdc-tab-bar > li.active > a,
.mdc-tabs > .mdc-tab-bar > li.active > a:hover,
.mdc-tabs > .mdc-tab-bar > li.active > a:focus {
    text-decoration: none;
    color: #536dfe;
    transition-property: color;
    transition-duration: 0.5s;
}

.mdc-tabs > .mdc-panels > .mdc-panel {
    display: none;
}

.mdc-tabs > .mdc-panels > .mdc-panel > pre {
    margin-top: 0;
    margin-bottom: 0;
}

.mdc-tabs > .mdc-panels > .mdc-panel > p {
    margin: 2rem 1.2rem;
}

.mdc-tabs > .mdc-panels > .active {
    display: block;
}

.mdc-tabs > .mdc-panels > .mdc-panel:before {
    content: none !important;
}
