.md-typeset img, .md-typeset svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

[data-md-color-primary="grey"] .md-typeset a {
    color: #3f51b5;
}

div.md-content li, div.md-content p {
    text-align: justify;
}

.md-typeset__scrollwrap {
    text-align: center;
}
.md-typeset ul {
    list-style-type: square;
}
